<!--<div class="criminals" *ngIf="!loading">-->
<!--  <ng-container *ngFor="let criminal of sliceOfCriminals; let i = index">-->
<!--    <app-fbi-card-->
<!--      [id]="criminal['@id']"-->
<!--      [updateChosenEditedElement]="updateChosenEditedElement.bind(this)"-->
<!--      [(showEditedPosts)]="showEditedPosts"-->
<!--      [(chosenEditedElementId)]="chosenEditedElementId"-->
<!--      [index]="i + page*itemsPerPage"-->
<!--      [editStatus]="criminal.edit"-->
<!--      [(edit)]="showModal"-->
<!--      [(chosenIndex)]="chosenElement"-->
<!--      [title]="criminal.title"-->
<!--      [img]="criminal.images[0].original"-->
<!--      [nationality]="criminal.nationality"-->
<!--      [hair]="criminal.hair"-->
<!--      [race]="criminal.race"-->
<!--      [description]="criminal.description"-->
<!--    ></app-fbi-card>-->
<!--  </ng-container>-->
<!--</div>-->
