<div class="profile-card" *ngIf="userData">
  <div class="avatar-wrapper">
    <img [src]="userData.img" class="avatar" />
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <div class="field"><span class="placeholder">email</span>: {{userData.email | defaultValue}}</div>
    <mat-divider></mat-divider>
    <div class="field"><span class="placeholder">country</span>: {{userData.country | defaultValue}}</div>
    <mat-divider></mat-divider>
    <div class="field"><span class="placeholder">description</span>: {{userData.description | defaultValue}}</div>
  </div>
</div>

