<div class="controls">
  <a class="link" routerLink="/fbi/edited">
    {{'edited posts'}}
  </a>
  <div class="header">
    <button class="button" (click)="showInfo()">Show</button>
    <button class="button" (click)="hideInfo()">Hide</button>
  </div>
</div>
<div class="wrapper">
  <div class="criminals-wrapper">
    <ng-template [ngIf]="loading">
      <mat-spinner></mat-spinner>
    </ng-template>
    <app-criminals-container
      [criminals]="showedCriminals"
      [loading]="loading"
    >
    </app-criminals-container>
  </div>
  <app-criminal-info *ngIf="showAdditionalInfo"
                     [info]="chosenCriminal"
  ></app-criminal-info>
</div>
<div class="paginator">
  <mat-paginator [length]="length"
                 [pageSize]="itemsPerPage"
                 aria-label="Select page"
                 (page)="onPaginateChange($event)"
                 #paginator>
  </mat-paginator>
</div>

