


.header {
  padding: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.wrapper {
  padding: 0px;
  width: 100%;
  height: calc(100vh - 15rem);
  display: flex;
}

.button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-right: 100px;
  cursor: pointer;
}

.criminals-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px;
}

.link {
  text-decoration: none;
  color: #2C4A52;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.link:hover {
  color: #537072;
}
