<div class="controls">
  <a class="link" routerLink="/fbi/edited">
    {{'edited posts'}}
  </a>
  <div class="header">
    <button class="button" (click)="showInfo()">Show</button>
    <button class="button" (click)="hideInfo()">Hide</button>
  </div>
</div>
<div class="wrapper">
  <div class="criminalsWrapper">
    <ng-template [ngIf]="loading">
      <mat-spinner></mat-spinner>
    </ng-template>
    <div class="criminals" *ngIf="!loading">
      <ng-container *ngFor="let criminal of showedCriminals; let i = index">
        <app-fbi-card
          [infoCard]="criminal"
          (infoCardChange)="chosenCriminal=criminal"
          [index]="i"
          (clickEdit)="open()"
          [edit]="false"
          (onChoose)="choose()"
        ></app-fbi-card>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="showAdditionalInfo">
    <app-criminal-info
      [info]="chosenCriminal"
    ></app-criminal-info>
  </ng-container>
</div>
<div class="paginator">
  <mat-paginator [length]="length"
                 [pageSize]="itemsPerPage"
                 aria-label="Select page"
                 (page)="onPaginateChange($event)"
                 #paginator>
  </mat-paginator>
</div>

