<div class="wrapper">
  <mat-stepper orientation="vertical" [linear]="false" #stepper>
    <form [formGroup]="editFormGroup">
      <mat-step>
        <ng-template matStepLabel>Fill out title</ng-template>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="title" >
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out age</ng-template>
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput
                 (ngModelChange)="filterNumericInput($event)" placeholder="Last name, First name" formControlName="age_range"
                 >
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out gender</ng-template>
        <app-gender formControlName="sex"></app-gender>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out weight</ng-template>
        <mat-form-field>
          <mat-label>Weight</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="weight" >
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out race</ng-template>
        <mat-form-field>
          <mat-label>Race</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="race_raw" >
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out nationality</ng-template>
        <mat-form-field>
          <mat-label>Nationality</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="nationality" >
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out hair</ng-template>
        <mat-form-field>
          <mat-label>Hair</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="hair_raw" >
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out eyes</ng-template>
        <mat-form-field>
          <mat-label>Eyes</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="eyes" >
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out reward</ng-template>
        <mat-form-field>
          <mat-label>Reward</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="reward_text" >
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out description</ng-template>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="description">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
    </form>
    <mat-step>
      <ng-template matStepLabel>Create new fields</ng-template>
     <app-create-field
       (additionalFieldsChange)="getAdditionalFields($event)"
      [additionalFieldInfo]="additionalFieldInfo"
     ></app-create-field>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="edit()">Save</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
