<!--<ng-container *ngFor="let element of criminalInfo?.added_fields | keyvalue">-->
<!--  <app-added-field-info [fieldInfo]="element"-->
<!--                        [(additionalFields)]="additionalFields"-->
<!--  ></app-added-field-info>-->
<!--</ng-container>-->
<ng-container *ngFor="let element of additionalFields | keyvalue">
  <app-added-field-info [fieldInfo]="element"
                        (onAdd)="addFieldEvent($event)"
                        (onDelete)="deleteFieldEvent(element)"
  ></app-added-field-info>
</ng-container>
<div *ngIf="!addStatusForm; else addField" class="add-button-wrapper" (click)="addStatusForm = true">
  <button mat-button class="add-button">
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #addField>
  <app-add-field
    [additionalFields]="additionalFields"
    (onAdd)="addFieldEvent($event)"
  ></app-add-field>
</ng-template>

