.contentWrapper {
  display: flex;
  width: 100%;
}

.content {
  width: 100%;
}

.signInWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
