<div class="controls">
  <a class="link" routerLink="/fbi/original">
    {{'original posts'}}
  </a>
  <div class="header">
    <button class="button" (click)="showInfo()">Show</button>
    <button class="button" (click)="hideInfo()">Hide</button>
  </div>
</div>
<div class="wrapper">
  <div class="criminalsWrapper">
    <ng-template [ngIf]="loading">
      <mat-spinner></mat-spinner>
    </ng-template>
<!--    <div class="criminals" *ngIf="!loading">-->
<!--      <ng-container *ngFor="let criminal of editedPosts; let i = index">-->
<!--        <app-fbi-card-->
<!--          [infoCard]="criminal"-->
<!--          [index]="i"-->
<!--          [edit]="true"-->
<!--          (infoCardChange)="editedCriminal=criminal"-->
<!--          (onChoose)="choose()"-->
<!--        ></app-fbi-card>-->
<!--      </ng-container>-->
<!--    </div>-->
    <app-criminals-container
      [criminals]="editedPosts"
      [loading]="loading"
      [edit]="true"
      (onChoose)="choose()"
      (infoCardChange)="onCardChange($event)"
    ></app-criminals-container>
  </div>
  <ng-container *ngIf="showAdditionalInfo">
    <app-criminal-info
      [info]="editedCriminal"></app-criminal-info>
  </ng-container>
</div>
<!--total / items.perPage-->
<div class="paginator">
  <mat-paginator [length]="length"
                 [pageSize]="itemsPerPage"
                 aria-label="Select page"
                 (page)="onPaginateChange($event)"
                 #paginator>
  </mat-paginator>
</div>
