.header {
  padding: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 0px;
  width: 100%;
  display: flex;
}

.button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-right: 100px;
  cursor: pointer;
}

.criminalsWrapper {
  height: calc(100vh - 50px - 140px);
  display: flex;
  justify-content: center;
  overflow-y: auto;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px;
}

.paginatorButton {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.criminals {
  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  color: #2C4A52;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.link:hover {
  color: #537072;
}

.addFieldButtonWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.addFieldButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
