<div class="wrapper">
  <div>
    <span class="fieldName">Name</span>: {{info.title | defaultValue}}
  </div>
  <div class="images">
    <ng-container *ngFor="let image of info.images">
      <img src="{{image.original}}" />
    </ng-container>
  </div>
  <div class="field">
    <span class="fieldName">Age</span>: {{info.age_range | defaultValue }}
  </div>
  <div class="field">
    <span class="fieldName">Sex</span>: {{info.sex | defaultValue}}
  </div>
  <div class="field">
    <span class="fieldName">Weight</span>: {{info.weight | defaultValue}}
  </div>
  <div class="field">
    <span class="fieldName">Race</span>: {{info.race_raw | defaultValue}}
  </div>
  <div class="field">
    <span class="fieldName">Nationality</span>: {{info.nationality | defaultValue}}
  </div>
  <div class="field">
    <span class="fieldName">Hair</span>: {{info.hair_raw | defaultValue}}
  </div>
  <div class="field">
    <span class="fieldName">Eyes</span>: {{info.eyes | defaultValue}}
  </div>
  <div class="field">
    <span class="fieldName">Reward</span>: {{info.reward_text | defaultValue}}
  </div>
  <div class="field">
    <span class="fieldName">Description</span>: {{info.description | defaultValue}}
  </div>
</div>
