<div class="sidebar" [ngClass]="{collapsed}">
  <button class="collapsedBtn" (click)="changeCollapse()">
    {{buttonSymbol}}
  </button>

  <div class="items">
    <ng-container *ngFor="let route of routes">
      <ng-container *ngIf="!collapsed; else home">
        <div class="linkWrapper">
          <a class="link" routerLink="{{route.path}}">{{route.name}}</a>
        </div>
      </ng-container>
      <ng-template #home>
        <div class="iconWrapper">
          <mat-icon class="link">{{route.icon}}</mat-icon>
        </div>
      </ng-template>
    </ng-container>
  </div>

</div>
