.example-card {
  width: 19rem;
  margin-right: 30px;
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: flex-end;
  height: 10px;
}

.header-info {
  display: flex;
  align-items: center;
}

.edit-icon {
  position: absolute;
}
