<mat-card class="example-card" (click)="choose()">
  <mat-card-header class="header">
    <ng-template [ngIf]="editStatus">
      <mat-icon class="editIcon" (click)="changePage()">edit</mat-icon>
    </ng-template>
  </mat-card-header>
  <mat-card-header class="headerInfo">
    <mat-card-title>{{title}}</mat-card-title>
    <button mat-button (click)="onEdit()">edit</button>
  </mat-card-header>
  <img mat-card-image src="{{img}}" alt="no photo">
  <mat-card-content>
    <p>Nationality: {{nationality || 'unknown'}}</p>
    <p>Hair: {{hair || 'unknown'}}</p>
    <p>Race: {{race || 'unknown'}}</p>
    <p>Description: {{description || 'none'}}</p>
  </mat-card-content>
</mat-card>
